  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
  }

  html.no-overflow, body.no-overflow {
    overflow: hidden;
    max-height: 100vh;
  }

  .height-100vh {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #curatorial-statement-container {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #curatorial-statement-wrapper {
    max-width: 600px;
    margin: 3vw 5vw;
    display: inline-block;
  }

  .curatorial-pdf-button {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
  }

  hr {
    height: 2px;
  }

  p {
    color: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
    border-radius: 0;
  }

  .modal-backdrop {
    background-color: transparent;
  }

  .v-caption-mobile {
    display: none;
  }

  #nav-instructions {
    width: 40px;
    position: absolute;
    bottom: 15px;
    right: 20px;
    opacity: 0.7;
    z-index: 900;
    cursor: pointer;
    transition: opacity 1s;
  }

  #nav-instructions:hover {
    opacity: 1;
  }

  #enter-button {
    margin-top: -2.4em;
    font-size: 1.5em;
    opacity: 0;
    transition: opacity 1s, letter-spacing 0.5s;
    transition-delay: opacity 800ms;
    cursor: pointer;
  }

  #enter-button:hover {
    letter-spacing: 0.09em;
  }

  #enter-button.enter-ready {
    opacity: 1;
  }

  #loading-text {
    margin-top: 2.8em;
    opacity: 1;
    transition: opacity 1s;
  }

  #loading-text.loading-ready {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }

  .ellipses {
    letter-spacing: 0.4em;
  }

  #loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 9999;
    background-color: white;
    opacity: 1;
    transition: opacity 0.3s ease-out;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.1em;
  }

  #loader.loaded {
    opacity: 0;
    pointer-events: none;
  }

  .loading {
    font-weight: bold;
    margin-bottom: 2em;
    clip-path: inset(0 3ch 0 0);
    animation: c4 1s steps(4) infinite;
  }

  @keyframes c4 {
    to {
      clip-path: inset(0 -1ch 0 0)
    }
  }

  .mobile {
    display: none;
  }

  h1, h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  .scroll-prompt p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
  }

  .scroll-prompt {
    cursor: pointer;
    position: absolute;
    top: 30vh;
    left: 7vw;
    text-align: center;
    animation: bounce 10s ease-out infinite;
  }

  .scroll-line {
    margin: 0 auto;
    width: 1px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    animation: slide 6s cubic-bezier(1, 0, 0, 1) infinite;
  }

  @keyframes slide {
    0% {
      transform-origin: 0% 0%;
      transform: scale(1, 0);
    }

    20% {
      transform-origin: 0% 0%;
      transform: scale(1, 1);
    }

    40% {
      transform-origin: 0% 100%;
      transform: scale(1, 1);
    }

    100% {
      transform-origin: 0% 100%;
      transform: scale(1, 0);
    }
  }

  h1 {
    font-size: 3em;
    line-height: 1em;
    letter-spacing: -2px;
  }

  h3 {
    font-weight: medium;
  }

  .back-button {
    position: absolute;
    margin: 1em 0 0 2em;
    z-index: 900;
    overflow: hidden;
  }

  iframe {
    overflow: none;
  }

  .vid iframe {
    pointer-events: none;
  }

  .vid-v iframe {
    pointer-events: none;
  }

  .back-button.light {
    position: absolute;
    top: 0;
    left: 0;
  }

  .back-button.light a, .light a {
    color: rgba(255, 255, 255, 0.8);
  }

  .back-button.light a:hover, .light a:hover {
    color: rgba(255, 255, 255, 1);
  }

  .white-button {
    border: 0.3px solid rgba(255, 255, 255, 0.6);
    padding: 0.5em 1em;
    transition: border 0.3s color 1s;
    text-decoration: none;
  }

  .white-button:hover {
    border: 0.4px solid rgba(255, 255, 255, 1);
    text-decoration: none;
  }

  .modal-white-border {
    border: 0.3px solid rgba(255, 255, 255, 0.6);
  }

  .black-button {
    border: 0.3px solid rgba(0, 0, 0, 0.6);
    padding: 0.3em 0.7em;
    transition: border 0.3s color 1s;
    text-decoration: none;
  }

  .black-button:hover {
    border: 0.4px solid rgba(0, 0, 0, 1);
    text-decoration: none;
  }

  .modal-black-border {
    border: 0.3px solid rgba(0, 0, 0, 0.6);
  }

  .small-link {
    font-size: 0.9em;
  }

  a.small-link {
    color: rgba(0, 0, 0, 0.7) !important;
    /* text-decoration: none; */
    cursor: pointer;
  }

  a.small-link:hover {
    color: rgba(0, 0, 0, 1) !important;
  }

  a.small-link-w {
    color: rgba(255, 255, 255, 0.7) !important;
  }

  a.small-link-w:hover {
    color: rgba(255, 255, 255, 1) !important;
  }

  .p3-caret {
    color: white;
    transform: scaleX(2);
    font-size: 0.6em;
    opacity: 0.6;
    cursor: pointer;
    text-align: center;
  }

  /* .nma-link {
    position: fixed;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  } */
  /* Underline styles */
  /* .back-button a {
    position: relative;
    padding: 0.1em 0;
  } */
  /* Fade in */
  /* .back-button a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.03em;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    opacity 1;
    transform: translate3d(-100%, 0, 0);
  }

  .back-button a:hover::after,
  .back-button a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }

  .back-button a:hover::after,
  .back-button a:focus::after {
    transform: translate3d(0, 0, 0);
  } */
  .project-info {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .overlay {
    display: none;
    z-index: 2;
  }

  .page-wrapper-full-height {
    margin: 0 3vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .page-wrapper {
    margin: 1vw 3vw;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .parts-links {
    margin-top: 1vh;
    margin-right: 1.5vw;
    display: flex;
    gap: 2em;
  }

  /* .header h1 {
    margin: 0;
  }

  .header h3 {
    margin-left: 0.3em;
    margin-top: 0.1em;
  } */
  .curatorial-link-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1vh;
    padding-right: 1.5vw;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .curatorial-link-wrapper-mobile {
    display: none;
  }

  a {
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 0.07em;
    transition: color 1s, letter-spacing 0.5s;
    text-decoration: revert;
    text-decoration-thickness: .06em;
  }

  a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration-thickness: .06em;
    letter-spacing: 0.08em;
    /* text-decoration: none; */
  }

  .next-part {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
    height: 5vh;
  }

  .next-part-h {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .video-responsive {
    position: relative;
    margin: auto;
    display: block;
    max-height: 70vh;
    overflow: hidden;
  }

  .video-responsive::before {
    display: block;
    content: "";
    padding-top: 56.25%;
  }

  .video-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .video-didactic {
    color: white;
    margin: 5em 0;
    display: flex;
    justify-content: center;
  }

  .video-didactic p {
    max-width: 70vw;
    opacity: 0.7;
  }

  .door-caption {
    text-align: center;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }

  .doors-wrapper a {
    text-decoration: none;
  }

  .door-container {
    min-width: 20vw;
    height: 54vh;
    background-color: black;
  }

  .doors-wrapper {
    height: 70%;
    padding: 0;
    margin: 1em 4vw 0 4vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .door-one {
    background-image: url(images/p1/1.jpg);
    background-position: center;
    background-size: cover;
  }

  .door-two {
    background-image: url(images/p2/09.jpg);
    background-position: center;
    background-size: cover;
  }

  .door-three {
    background-image: url(images/p3/tuire.jpg);
    background-position: center;
    background-size: cover;
  }

  #hud {
    display: none;
    background: grey;
    position: absolute;
    padding: 10px 20px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 1.2em;
    pointer-events: none;
  }

  .thumb-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
    margin: 0 20vw;
  }

  .thumb-container {
    margin-bottom: 1vw;
    flex: 0 0 100%;
    cursor: zoom-in;
    overflow: hidden;
    width: auto;
    max-width: 100%;
    width: auto;
    height: 300px;
    width: 300px;
    display: flex;
    position: relative;
  }

  .thumb-container img, .thumb-container div {
    position: absolute;
    width: 200%;
    height: auto;
    left: -150%;
    right: -150%;
    top: -150%;
    bottom: -150%;
    margin: auto;
  }

  .imageWrapper {
    background-color: white;
    padding: 3vw;
  }

  .imageContainer {
    /* border: 0.6px solid rgba(0, 0, 0, 0.6); */
    /* padding: 3em; */
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .close {
    margin: 15px 20px;
    cursor: pointer;
    opacity: 0.6;
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 900;
    transition: opacity 0.5s;
  }

  .close:hover {
    opacity: 1;
  }

  .modal-header .close {
    margin: 0;
  }

  .p1-modal.modal {
    cursor: pointer;
  }

  .p1-modal .modal-backdrop {
    background-color: rgba(0, 0, 0, 0);
  }

  .p1-modal .modal-dialog {
    margin: 0;
  }

  .p1-modal .modal-content {
    border: none;
    height: 100vh;
  }

  .modal-lg {
    max-width: 80vw;
  }

  .modal-open[style], .modal-open .modal {
    padding-right: 0px !important;
  }

  body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    padding-right: 0px !important;
    overflow-y: auto;
  }

  .videoWrapper-vertical {
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
  }

  .videoWrapper-vertical, .vid-v-arrow-container {
    padding-bottom: 42.2%;
    height: 0;
  }

  .videoWrapper-vertical iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* padding: 8vw; */
  }

  .vid-v-arrow {
    cursor: pointer;
    content: "\2192";
    opacity: 0.7;
    font-size: 1.5vw;
    transition: 1s;
    margin-bottom: 3vw;
  }

  .vid-v-arrow-mobile {
    display: none;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 26.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    width: 30vw;
  }

  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 10%;
  }

  .p1-modal.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .p1-modal.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  #infoModal .modal-body {
    padding: 1rem;
  }

  #instructionsModal .modal-body {
    padding: 2rem 1rem 1rem 1rem;
  }

  #infoModal.fade .modal-dialog {
    -webkit-transform: translate(0, 25%);
    transform: translate(0, 25%);
  }

  #infoModal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .modal.fade {
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
  }

  .c-image {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .p1-image {
    background-position: center;
    width: 30vw;
    height: 40vh;
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease-out;
    cursor: pointer;
  }

  .p1-image.lazy, .p2-image-lazy, .v-image.lazy {
    background-image: none;
    background-color: white;
  }

  .v-caption {
    font-size: 0.8em;
  }

  .tooltip {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 1em;
    margin-right: 1em;
  }

  [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }

  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  [type="reset"], [type="submit"], button, html [type="button"] {
    -webkit-appearance: button;
  }

  .tooltip-button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
    transform: scale(1);
    transition: border 0.5s, color 0.5s, transform 1s;
    border-radius: 50%;
    padding: 0.8em 1.4em;
    /* padding for inconsolata */
    /* padding: 0.8em 1.2em; */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.1em;
    margin: 2vw;
  }

  .tooltip-button:hover {
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: rgba(0, 0, 0, 0.8);
    transform: scale(1.05);
  }

  .tooltip {
    opacity: 0;
    transition: opacity 0.7s;
  }

  .tooltip.show {
    opacity: .8;
  }

  .tooltip.fade {}

  .diptych {
    width: 100%;
    max-width: none;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 1vw;
  }

  .p2-3 {
    margin-right: 10vw;
  }

  .v-image {
    background-position: center;
    width: 100%;
    height: 97vh;
    max-width: 100vw;
    max-height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s ease-out;
    cursor: pointer;
    margin-left: 6vw;
  }

  .p2-image {
    background-position: center;
    width: 100%;
    height: 80vh;
    margin-bottom: 1em;
    max-width: 100vw;
    max-height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s ease-out;
    cursor: pointer;
  }

  .content-container, .part {
    display: flex;
    flex-direction: row;
    position: relative;
    width: auto;
    height: auto;
  }

  .image {
    /* max-width: 400px; */
    /* width: 100%;
    height: 50vh; */
    justify-content: space-around;
    display: flex;
    align-items: end;
    flex-direction: row;
    /* padding: 0 15vw;
    margin: 0 20px; */
    width: 100vw;
  }

  .p1 .image {
    margin: 30vh 0;
    /* padding: 2vh 0; */
  }

  .p2 .image {
    align-items: center;
    flex-direction: column;
  }

  .nav-parts {
    display: flex;
    justify-content: space-between;
    z-index: 900;
    margin: 1em 2em;
    ;
  }

  .vid {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4em;
  }

  .vid-v {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: row;
    margin: 38vh 0 15vh 0;
  }

  .vid-arrow, .img-arrow {
    cursor: pointer;
    content: "\2192";
    opacity: 0.5;
    font-size: 1.5em;
    padding-bottom: 2em;
    transition: opacity 1s;
  }

  .vid-arrow:hover, .vid-v-arrow:hover, .img-arrow:hover {
    opacity: 1;
  }

  .img-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .part {
    max-height: 100vh;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .part .content {
    display: flex;
  }

  .part-vertical {
    margin-bottom: 10vh;
  }

  .instructions-bottom-line {
    position: absolute;
    bottom: 10vh;
    max-width: 80vw;
    margin: auto;
    text-align: center;
  }

  /* LocomotiveScroll */
  /*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
  html.has-scroll-smooth {
    overflow: hidden;
  }

  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .has-scroll-smooth body {
    overflow: hidden;
  }

  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
  }

  [data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
  }

  [data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
  }

  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
  }

  .c-scrollbar:hover {
    transform: scaleX(1.45);
  }

  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1;
  }

  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 13px;
    top: auto;
    bottom: 4px;
    transform: scaleY(1);
  }

  [data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
  }

  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border: 1px solid black;
    opacity: 0.7;
    width: 7px;
    /* border-radius: 10px; */
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
  }

  .has-scroll-dragging .c-scrollbar_thumb {
    opacity: 1;
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }

  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
  }

  /* Mobile */
  @media screen and (max-width: 900px) {
    .curatorial-pdf-button {
      position: relative;
      bottom: auto;
      right: auto;
    }
  }

  @media screen and (max-width: 800px) {
    .diptych {
      margin: 0;
    }

    .p2-1, .p2-2, .p2-3, .p2-4, .p2-5 {
      margin-right: 15vw;
    }

    .p2-3 {
      margin-left: 15vw;
    }

    .vid-v-arrow {
      font-size: 1.5em;
    }

    .scroll-prompt {
      display: none;
    }

    .vid-v {
      height: 80vh
    }
  }

  @media screen and (max-width: 600px) {
    html, body {
      font-size: 18px;
    }

    .curatorial-link-wrapper {
      display: none;
    }

    .curatorial-link-wrapper-mobile {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      margin-left: 1.5vw;
      margin-bottom: 2vw;
    }

    .door-container {
      height: 43vh;
    }

    .back-button {
      position: sticky;
    }

    .video-responsive {
      width: 100vw;
      margin-top: 5em;
    }

    .thumb-wrapper {
      margin: 0;
    }

    .videoWrapper iframe {
      padding: 1vw;
    }

    .vid {
      width: 100vw;
      flex-direction: column;
    }

    .vid-v {
      flex-direction: column;
      justify-content: center;
      margin: -10vh 0 50vh 0;
    }

    .videoWrapper {
      padding-bottom: 46.25%;
      width: 100vw;
    }

    .videoWrapper-vertical, .vid-v-arrow-container {
      padding-bottom: 56.2%;
      min-height: 30vh;
    }

    .p1-image-m {
      max-width: 30vw;
    }

    .p2 .image {
      margin-top: 2vw;
      max-height: 88vh;
    }

    .header {
      gap: 1em;
    }

    .parts-links {
      flex-direction: column;
    }

    .modal-lg {
      max-width: 100vw;
    }

    .image {
      flex-direction: column;
    }

    .v-caption-mobile {
      display: block;
      font-size: 0.8em;
      margin-left: 1em;
    }

    .tooltip-button, .vid-v-arrow {
      display: none;
    }

    .vid-v-arrow-mobile {
      display: block;
      cursor: pointer;
      content: "\2192";
      opacity: 0.7;
      font-size: 1em;
      transition: 1s;
    }

    .image, .vid-v {
      align-items: center;
    }

    .v-image {
      margin-left: 0px;
    }
  }