  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inconsolata", monospace;
    line-height: 1.5em;
    overflow: hidden;
  }

  p {
    color: rgba(0, 0, 0, 0.7);
  }

  #loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 9999;
    background-color: white;
    opacity: 1;
    transition: opacity 0.3s ease-out;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.07em;
  }

  #loader.loaded {
    opacity: 0;
    pointer-events: none;
  }

  .loading {
    font-weight: bold;
    margin-bottom: 2em;
    clip-path: inset(0 3ch 0 0);
    animation: c4 1s steps(4) infinite;
  }

  @keyframes c4 {
    to {
      clip-path: inset(0 -1ch 0 0)
    }
  }

  .mobile {
    display: none;
  }

  h1, h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  h1 {
    font-size: 3em;
    line-height: 1em;
    letter-spacing: -2px;
  }

  h3 {
    font-weight: medium;
  }

  .back-button {
    position: absolute;
    margin: 1em 0 0 2em;
    z-index: 900;
    overflow: hidden;
  }

  iframe {
    overflow: none;
  }

  .vid iframe {
    pointer-events: none;
  }

  .back-button.light {
    position: absolute;
    top: 0;
    left: 0;
  }

  .back-button.light a {
    color: rgba(255, 255, 255, 0.8);
  }

  .back-button.light a:hover {
    color: rgba(255, 255, 255, 1);
  }

  .small-link {
    font-size: 0.9em;
  }

  a.small-link {
    color: rgba(255, 255, 255, 0.7) !important;
    text-decoration: none;
    cursor: pointer;
  }

  a.small-link:hover {
    color: rgba(255, 255, 255, 1) !important;
  }

  .p3-caret {
    color: white;
    transform: scaleX(2);
    font-size: 0.6em;
    opacity: 0.6;
    cursor: pointer;
    text-align: center;
  }

  /* Underline styles */
  /* .back-button a {
    position: relative;
    padding: 0.1em 0;
  } */
  /* Fade in */
  /* .back-button a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.03em;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    opacity 1;
    transform: translate3d(-100%, 0, 0);
  }

  .back-button a:hover::after,
  .back-button a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }

  .back-button a:hover::after,
  .back-button a:focus::after {
    transform: translate3d(0, 0, 0);
  } */
  .project-info {
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .overlay {
    display: none;
    z-index: 2;
  }

  .page-wrapper-full-height {
    margin: 1vw 3vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .page-wrapper {
    margin: 1vw 3vw;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .curatorial-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.07em;
    transition: 1s;
    text-decoration: none;
  }

  a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
  }

  .video-wrapper {
    margin-top: 2vw;
  }

  .video-responsive {
    position: relative;
    margin: auto;
    display: block;
    width: 60vw;
    overflow: hidden;
  }

  .video-responsive::before {
    display: block;
    content: "";
    padding-top: 56.25%;
  }

  .video-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .video-didactic {
    color: white;
    margin: 5em 0;
    display: flex;
    justify-content: center;
  }

  .video-didactic p {
    max-width: 70vw;
    opacity: 0.7;
  }

  .door-container {
    min-width: 20vw;
    height: 60vh;
    background-color: black;
  }

  .doors-wrapper {
    height: 70%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .door-one {
    background-image: url(images/p1/1.jpg);
    background-position: center;
    background-size: cover;
  }

  .door-two {
    background-image: url(images/p2/09.jpg);
    background-position: center;
    background-size: cover;
  }

  .door-three {
    background-image: url(images/p3/tuire.jpg);
    background-position: center;
    background-size: cover;
  }

  #hud {
    display: none;
    background: grey;
    position: absolute;
    padding: 10px 20px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 1.2em;
    pointer-events: none;
  }

  .thumb-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
    margin: 0 20vw;
  }

  .thumb-container {
    margin-bottom: 1vw;
    flex: 0 0 100%;
    cursor: zoom-in;
    overflow: hidden;
    width: auto;
    max-width: 100%;
    width: auto;
    height: 300px;
    width: 300px;
    display: flex;
    position: relative;
  }

  .thumb-container img, .thumb-container div {
    position: absolute;
    width: 200%;
    height: auto;
    left: -150%;
    right: -150%;
    top: -150%;
    bottom: -150%;
    margin: auto;
  }

  .imageWrapper {
    background-color: white;
    padding: 3vw;
  }

  .imageContainer {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .close {
    margin: 15px 20px;
    cursor: pointer;
    opacity: 0.6;
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 900;
    transition: opacity 0.5s;
  }

  .close:hover {
    opacity: 1;
  }

  .modal-header .close {
    margin: 0;
  }

  .p1-modal.modal {
    cursor: crosshair;
  }

  .p1-modal .modal-backdrop {
    background-color: rgba(0, 0, 0, 0);
  }

  .p1-modal .modal-dialog {
    margin: 0;
  }

  .p1-modal .modal-content {
    border: none;
    height: 100vh;
  }

  .modal-lg {
    max-width: 100vw;
  }

  .modal-open[style] {
    padding-right: 0px !important;
  }

  body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    padding-right: 0px !important;
    overflow-y: auto;
  }

  /* .videoWrapper {
    cursor: crosshair;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -28.1%;
    padding-bottom: 56.2%;
    height: 0;
    overflow: hidden;
  }

  .videoWrapper iframe {
    cursor: crosshair;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 8vw;
  } */
  .videoWrapper {
    position: relative;
    padding-bottom: 26.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    width: 30vw;
  }

  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 10%;
  }

  .p1-modal.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .p1-modal.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  #infoModal .modal-body {
    padding: 1rem;
  }

  #infoModal.fade .modal-dialog {
    -webkit-transform: translate(0, 25%);
    transform: translate(0, 25%);
  }

  #infoModal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .modal.fade {
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
  }

  @media only screen and (max-width: 600px) {
    .video-responsive {
      width: 100vw;
      margin-top: 5em;
    }

    .thumb-wrapper {
      margin: 0;
    }

    .videoWrapper iframe {
      padding: 1vw;
    }

    .vid {
      width: 100vw;
      flex-direction: column;
    }

    .videoWrapper {
      padding-bottom: 46.25%;
      width: 100vw;
    }
  }

  .c-image {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .p1-image {
    background-position: center;
    width: 30vw;
    height: 40vh;
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease-out;
    cursor: crosshair;
  }

  .p1-image.lazy {
    background-image: none;
    background-color: black;
  }

  .diptych {
    width: 100%;
    max-width: none;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 1vw;
  }

  .p2-3 {
    margin-right: 10vw;
  }

  @media only screen and (max-width: 800px) {
    .p2-5, .p2-4 {
      margin-left: 15vw;
    }
  }

  @media only screen and (max-width: 800px) {
    .diptych {
      margin: 0;
    }

    .p2-1, .p2-2, .p2-3, .p2-4, .p2-5 {
      margin-right: 15vw;
    }

    .p2-3 {
      margin-left: 15vw;
    }
  }

  .p2 .image {
    width: auto;
    min-width: 100vw;
  }

  .p2-image {
    background-position: center;
    width: 100%;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s ease-out;
    cursor: crosshair;
  }

  .p2-image.lazy {
    background-image: none;
    background-color: black;
  }

  .content-container, .part {
    display: flex;
    flex-direction: row;
    position: relative;
    width: auto;
    height: auto;
  }

  .image {
    /* max-width: 400px; */
    /* width: 100%;
    height: 50vh; */
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding: 0 15vw;
    margin: 0 20px; */
    width: 100vw;
  }

  .vid {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
  }

  .vid-arrow {
    cursor: pointer;
    content: "\2192";
    opacity: 0.6;
    font-size: 1.5em;
    padding: 1em 4em;
  }

  .vid-arrow:hover {
    opacity: 1;
  }

  .part {
    max-height: 100vh;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .part .content {
    display: flex;
  }

  /* LocomotiveScroll */
  /*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
  html.has-scroll-smooth {
    overflow: hidden;
  }

  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .has-scroll-smooth body {
    overflow: hidden;
  }

  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
  }

  [data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
  }

  [data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
  }

  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
  }

  .c-scrollbar:hover {
    transform: scaleX(1.45);
  }

  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1;
  }

  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
  }

  [data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
  }

  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
  }

  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }

  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
  }

  @media only screen and (max-width: 600px) {

    /* .desktop {
      display: none;
    } */
    /* .mobile {
      display: inline-block;
    } */
    .p1-image-m {
      max-width: 30vw;
    }
  }